[Desktop Entry]
Categories=Game;Java;GTK;
Comment=Minecraft Java Edition
Comment=Minecraft Java Edition
Exec=env java -jar /opt/minecraft/Minecraft/launcher.jar
Icon=/opt/minecraft/minecraft_logo.png
Keywords=Java;Mojang;
Name=Minecraft
Name=Minecraft
Path=
StartupNotify=true
StartupWMClass=Minecraft
Type=Application
Version=1.0
